.appbar {
  @apply fixed top-0 w-full z-50;
}

.bar {
  @apply h-20 bg-primary;
}

.wrapper {
  @apply mx-auto w-[80%] h-full flex flex-row gap-4 items-center;
}

.logo {
  @apply !w-[20%] relative text-3xl pb-1 font-semibold text-onPrimary;
}

.logo span {
  @apply absolute bottom-0 translate-x-[-100%] translate-y-[40%] text-sm text-primary-400;
}

.searchbar {
  @apply !w-[60%] justify-center mx-auto h-full;
}

.category {
  @apply flex flex-col justify-center cursor-pointer text-lg text-onPrimary hover:text-secondary;
}

.actions {
  @apply !w-[30%] h-full flex flex-row items-center justify-end gap-4 text-xl text-onPrimary;
}

.modal {
  @apply absolute -top-56 w-[50%] h-56 rounded-b-lg border border-dividerColor bg-white text-primary;
  z-index: -1;
  left: 50%;

  transform: translateX(-50%);
  transition: all 200ms ease-in;
}

.modal-active {
  @apply top-20;
}

.category:hover {
  @apply h-full;
}

.cart-wrapper {
  position: relative;
  width: 18px;
  height: 18px
}

.cart {
  @apply absolute;
}

.cart-active {
  @apply absolute;
  display: none;
}

.cart-wrapper:hover .cart {
  @apply hidden;
}

.cart-wrapper:hover .cart-active {
  @apply block;
}


.bell-wrapper {
  position: relative;
  width: 18px;
  height: 18px
}

.bell {
  @apply absolute;
}

.bell-active {
  @apply absolute;
  display: none;
}

.bell-wrapper:hover .bell {
  @apply hidden;
}

.bell-wrapper:hover .bell-active {
  @apply block;
}

.badge {
  @apply absolute right-[-5px] top-[-5px] w-4 h-4 flex flex-col items-center text-xs rounded-full text-primary bg-splashColor;
}